html{
    box-sizing:border-box;
}

body{
    background-image: 
    /*stripes*/
    repeating-linear-gradient(45deg,
     rgba(33,33,33,0.06) 0px,
     rgba(33,33,33,0.06) 2px,
     transparent 2px, transparent 4px),

     /*darkening effect*/
     linear-gradient(45deg, 
     rgb(33,33,33) 40%,
     transparent);
    margin:0;
    padding:0;
}

header{
    width:100%;
    height:150px;
    position:absolute;/*so it stays on top*/
    top:0;/*works with absolute position*/
    background-color:rgb(9, 3, 39);
    border-bottom: 6px solid rgb(228, 179, 47);
    display:flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size:2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:0px 3px 8px black;
    color:white;
    outline:2px solid white;
    box-shadow: 0px 0px 20px white;
    padding:5px 20px;
    border-radius:5px;
    text-transform: uppercase;
    text-align: center;
    max-width:25rem;
}

.gallery{
    display:flex;
    flex-flow:row wrap;/*so the images go to the next line when shrinking the viewport size*/
    justify-content: space-around;
    align-items:center;
    max-width:1200px;/*so a maximun of 3 images are shown per row no matter the viewport*/
    margin:13rem auto 0;/*margin-top of 13rem so the photos start bellow the header*/
}

img{
    margin-bottom:50px;
    width:350px;
    height:350px;
    border-radius:10px;
    object-fit: cover;/*auto crop the image to adapt to declared width and height while maintaining its aspect ratio*/
}
